@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.keyButton:nth-child(even){
  border-left: 1px solid #9ca3af;
  border-right: 1px solid #9ca3af;
}
@media only screen and (max-width: 500px) {
  .keyButton:first-of-type{
    margin-left: 40px;
  }
  .keyButton:last-of-type{
    margin-right: 40px;
  }
}

.svgcontainer {
  width: 100%;
  height: 100%;
}

.heightFillAvail{
  height: -webkit-fill-available;
}
.lg-background {
  opacity: 0.6;
}
.neck {
  fill:#fff;
  stroke: #000;
  stroke-width:2;
}
.string {
  stroke: #000;
  stroke-width: 1;
}
.open-string-square{
  fill:#f7f1e3;
  stroke-width: 1;
  stroke: #aaa69d;
}

.notetext{
  font-size: 0.75em;
  color: #000;
}

.cebulaLogo{
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
